

.Header {
  text-align: center;
}

body {
  font-family: 'Ubuntu', sans-serif;
  font-family: 'PT Sans', sans-serif;
}
h1 {
  padding-top: 130px;
  text-align: center;
}

.name{
  font-size: 28px;
  position: absolute;
  padding-top: 70px;
  padding-left: 30px;
  color: black;

}


/*
.App-header {
  background-color: #282d34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: purple;
}
*/

.App-link {
  color: #61dafb;
}



.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > Photo { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 30px;
}

/* ------Navigation-------*/
nav{
  float: right;
  position: absolute;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 15px;
  height: 10%;
  background-color: rgba(30, 0, 0, 0);
  top: 70px;
  width: 100%;
}

.nav-links{
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.item{
  color:grey;
  margin-right: 30px;
  text-decoration: none;
}

/* ------Navigation End-------*/


/* -------Gallery----------*/
.gallery-container{
    padding-top: 160px;
}


/*
.row {
   width: 90%;
   margin: auto;
}
*/

/* Create three equal columns that floats next to each other */

.column {
  float: left;
  width: 33.3333%;
  text-align: center;

}

.column img {
  width: 350px;
  padding: 5px;
}

@media only screen and (max-width: 1080px) {
  .column {
    width: 49.99999%;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 720px) {
  .column {
    width: 100%;
  }
}


/* -------Gallery End----------*/
