@import url('https://fonts.googleapis.com/css2?family=Varta:wght@515&display=swap');

* {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;

}

.item{
  color: grey;
  margin: 20px;
  font-weight: 30px;
  font-family: 'Varta', sans-serif;
  text-decoration: none;
}

.item_underlined{
  color: rgb(92, 16, 16);
  margin: 20px;
  font-weight: 30px;
  font-family: 'Varta', sans-serif;
  text-decoration: none;

}

.social{
  margin-left:auto;
  margin-right:20px;
}


.column {
  width: 40%;
  position: relative;
  display: inline-block;
  margin: 30px;
  line-height: 0px;

}

@media only screen and (max-width: 500px) {
  .column {
    width: 400px;
    position: relative;
    display: inline-block;
    margin-left: 5px;
  }

}


.text-block {
  position: absolute;
  bottom: 30px;
  font-size: 15px;
  padding-left: 45%;
  color: #2c6277;
  }
  
  .column:hover .overlay {
    opacity: 0.7;

  }  
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
  }  

  .gallery-container{
    padding-top: 50px;
    text-align: center;
    line-height: 0px;
    padding-bottom: 50px;
}